body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  overflow-x: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  color: white;
  font-size: 70px;
  margin-top: 5rem;
}

.clock {
  font-size: 25px;
  color: white;
  margin-top: 3rem;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  background: transparent;
  padding: 30px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.buttons {
  animation: 1s ease-out 0s 1 slideInFromRight;
  background: transparent;
}

.button {
  font-family: "Gemunu Libre";
  margin: 0px 5px;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.columns {
  display: inline-block;
  width: 80px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#startbut {
  width: 240px;
}

#stopbut,
#resetbut,
#lapbut {
  width: 70px;
  margin-top: 10px;
}

#laplist {
  font-family: "Gemunu Libre";
  display: none;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  border: 1px solid white;
  margin-top: 20px;
  width: 180px;
  padding: 10px 40px;
}
